@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}

.welcome,
.start,
.first-present,
.second-present,
.third-present,
.end {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.welcome {
    background-color: #4e6ebe;
    z-index: 5;
}

.start {
    background-color: #f8b229;
    z-index: 4;
}

.snow-top {
    position: absolute;
    right: -10%;
    top: -6%;
    font-size: 48vw;
    color: #fff;
    transform: rotate(45deg);
}

.snow-bottom {
    position: absolute;
    left: -10%;
    bottom: -6%;
    font-size: 48vw;
    color: #fff;
    transform: rotate(15deg);
}

.first-present {
    background-color: #b43b2b;
    z-index: 3;
}

.first-present .snow-top {
    top: 7%;
    left: -10%;
    transform: rotate(40deg);
}

.second-present .snow-bottom {
    left: -2%;
    bottom: -5%;
}

.second-present {
    background-color: #4d5d45;
    z-index: 2;
}

.third-present {
    background-color: #7a231d;
    z-index: 1;
}

.second-present .snow-top {
    top: 7%;
    left: -3%;
    transform: rotate(40deg);
}

.end {
    justify-content: space-around;
    background-color: #f8b229;
    z-index: 0;
}

.end .snow-top {
    top: 38%;
    left: 50%;
    font-size: 50vw !important;
}

.heart {
    position: absolute;
    bottom: 6%;
    left: 67%;
    font-size: 10vw;
}

.top-section {
    height: 70%;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    text-align: center;
}

.top-section h1 {
    font-size: 6vw;
    font-weight: 200;
}

.top-section.last {
    width: 100%;
    height: 50%;
    justify-content: center;
}

.bottom-section.last  {
    height: 50%;
    display: flex;
    align-items: flex-end;
}

.top-section.last h1,
.bottom-section.last h1 {
    font-weight: 700;
    padding: 20px;
}

.top-section.last h1 {
    text-align: left;
    font-size: 15vw;
}

.bottom-section.last h1 {
    text-align: right;
    font-size: 9vw;
}

.button {
    width: 40%;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    text-align: center;
    padding: 20px;
    animation: border 3s infinite;
    transform: scale(1.1);
}

@keyframes border {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
